body{
    text-align:center ;
    background-color: aqua;
}

img{
    width: 300px;
}

.about, .contact{
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    margin:0 auto;
}

hr{
    width: 50%;
}